name: Notify Backend Deployment

on:
  push:
    branches:
      - main
    paths:
      - backend/**

jobs:
  notify-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger backend deployment in automation repo
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.AUTOMATION_REPO_TOKEN }}
          repository: dibyajyoti-chakrabarti/ReportMitra_Automation
          event-type: backend-deploy
